In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data.csv", index_col=0)
df

                            Число студентов
Возраст студентов в группе
17                                       10
18                                       50
19                                       70
20                                       30
21                                       10