In [42]:
import pandas as pd
from math import sqrt

In [43]:
df = pd.read_csv("data.csv")
df

   Возраст  Число студентов
0       17               10
1       18               50
2       19               70
3       20               30
4       21               10

# Показатели вариации

## Размах

In [44]:
r = max(df['Возраст']) - min(df['Возраст'])
r

4

## Среднее линейное отклонение

### Оценка выборочной средней

In [51]:
cdf = df.copy()
total_freq = sum(cdf['Число студентов'])
cdf['Варианта (s)'] = cdf['Число студентов'] * cdf['Возраст']
cdf

   Возраст  Число студентов  Варианта (s)
0       17               10           170
1       18               50           900
2       19               70          1330
3       20               30           600
4       21               10           210

In [52]:
selective_mean = sum(cdf['Варианта (s)']) / total_freq
selective_mean

18.88235294117647

In [75]:
cdf['Разность (d)'] = round(cdf['Возраст'] - selective_mean, 1)
cdf['Частота (f)'] = abs(cdf['Разность (d)']) * cdf['Число студентов']
cdf['Частота (2f)'] = (cdf['Разность (d)'] ** 2) * cdf['Число студентов']
cdf = cdf.astype({'Частота (f)': 'int64'})
cdf

,Возраст,Число студентов,Варианта (s),Разность (d),Частота (f),Частота (2f)
0,17,10,170,-1.9,19,36.1
1,18,50,900,-0.9,45,40.5
2,19,70,1330,0.1,7,0.7
3,20,30,600,1.1,33,36.3
4,21,10,210,2.1,21,44.1

In [76]:
mid_lin_disp = sum(cdf['Частота (f)']) / total_freq
mid_lin_disp

0.7352941176470589

## Среднеквадратическое отклонение

In [77]:
disp = sum(cdf['Частота (2f)']) / total_freq
disp

0.9276470588235294

## Коэффициент вариации

In [78]:
coef_var = sqrt(disp) / selective_mean * 100
coef_var

5.10076452507928