In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('data.csv', index_col=0)
mid_int = [50, 200, 400, 750, 2000, 4000]
df['Середина интервала'] = mid_int  # Принимаем, что последний интервал идёт до 5000
df

                    Число предприятий  Середина интервала
Группы предприятий
100<                               50                  50
100-300                            30                 200
300-500                            10                 400
500-1000                            6                 750
1000-3000                           3                2000
>3000                               1                4000