In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv', index_col=0)
df

                Число транспорта
Длина маршрута
8<                           3.0
8-10                        12.8
10-12                       15.2
12-14                       15.3
14-16                       38.0
16-18                       10.4
>18                          5.3

In [4]:
mod = df.loc[df['Число транспорта'] == max(df['Число транспорта'])]
mod_val = mod.index[0]
mod_val

'14-16'

In [8]:
# Ранжирование
cdf = df.sort_values(by=['Число транспорта']).cumsum()
cdf

                Число транспорта
Длина маршрута
8<                           3.0
>18                          8.3
16-18                       18.7
8-10                        31.5
10-12                       46.7
12-14                       62.0
14-16                      100.0

In [10]:
#Взятие среднего индекса
mid_index = (cdf.loc[mod_val]['Число транспорта'] + 1) / 2
mid_index # Промежуток 12-14 всё равно всё покрывает

50.5

In [11]:
# Получение медианного значения
cdf = cdf.sort_values(by=['Число транспорта'], ascending=False)
cdf.loc[(cdf['Число транспорта'] >= mid_index)].sort_values(by=['Число транспорта'], ascending=True).head(1).index[0]

'12-14'