In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data.csv")
df

    Data
0      5
1      4
2      2
3      1
4      6
5      3
6      3
7      4
8      3
9      2
10     2
11     5
12     6
13     4
14     3
15     5
16     4
17     1
18     2
19     3
20     3
21     4
22     1
23     6
24     5
25     1
26     3
27     4
28     3
29     5
30     4
31     3
32     3
33     4
34     4
35     6
36     4
37     4
38     3
39     1
40     5
41     4
42     3
43     2
44     6
45     3
46     4
47     5
48     5
49     3
50     3
51     3
52     3
53     4
54     5
55     5
56     6
57     2
58     4

In [4]:
df["Count"] = df.groupby("Data")['Data'].transform("count")
df = df.groupby(['Data']).head(1).sort_values(by=["Data"]).reset_index(drop=True)
df

   Data  Count
0     1      5
1     2      6
2     3     17
3     4     15
4     5     10
5     6      6

In [7]:
k = 3
line_ndf = pd.Series(df['Data'].to_numpy().reshape(-1), index=df['Data'].to_numpy().reshape(-1))
line_ndf
cut_df = pd.cut(line_ndf, bins=k, right=False, retbins=True, precision=1)[0]
cut_df
freq_df = cut_df.groupby(cut_df, observed=True).count()
freq_df

[1.0, 2.7)    2
[2.7, 4.3)    2
[4.3, 6.0)    2
dtype: int64