In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data.csv", index_col=0)
df

,Общие затраты,Число застрахованных человек (тыс.),Средние затраты на лечение 1 человека (р.)
Организация,,,
1,8428.42,15.4,547.3
2,9354.24,12.8,30.7
3,13185.65,730.8,429.5

In [ ]:
# TODO: Сделать кумулятивную сумму с шагом доп суммы 1.